body{
    background-color: rgb(65, 112, 84);
    background-image: linear-gradient(to right, rgb(55, 102, 112), rgb(60, 156, 112));
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 250px;
    height: 410px;
    background-color: rgb(22, 22, 22);
    margin: auto;
    margin-top: 48px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;    
    gap: 12px;
    box-shadow: 0 10px 22px rgb(0 0 0 / 0.5);
}

#display {
    font-size: 52px;
    padding:  8px;  
    border: 2px rgb(0, 0, 0) dotted ;
    align-self: stretch;
    text-align: end;
    border-radius: 8px;
    height: 64px;
    background-color:  rgb(230, 230, 230);
    color: rgb(48, 47, 47);
}

#buttons{
    display: flex; 
    flex-wrap: wrap;
    gap: 12px;
}

.btn {
    border-radius: 50%;
    font-size:15px;
    padding: 26px;
    border: 0cm;
    width: 32px;  
    color: rgb(245, 239, 239); 
    width: 32px; 
    height: 32px ;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: rgb(114, 113, 113);
    cursor: pointer;
}

.big{
    border-radius: 22px;
    width: 116px; 
}

.operator{
    background-color: rgb(194, 131, 13); 
}

#mainDis{
  margin-top: -5px;
}

#operatorDis{
    font-size: 24px;
    padding-left: 12px;
    margin-top: -8px;
}


.btn:hover{
    color:   rgb(114, 113, 113);
    background-color: rgb(245, 239, 239) ;
}

.operator:hover{
    background-color:  rgb(226, 223, 223);
    color:  rgb(199, 136, 19);
}

p{
    text-align: center;
    margin-top: 60px;
    color: rgb(214, 214, 214);
}
a{
    text-decoration: none;
    color: rgb(110, 235, 193);
}

    